body{
  background-color: #f3f1eb;
}

/**
 * Place your custom styles here.
 */
.navbar #block-search-form{
  float: left;
}

.navbar-collapse.in{
  width: 100%;
  background: #fff;
  padding: 30px;
}

.view-id-muro .views-field-view-node{
  margin-top: 10%;
  margin-left: -1.8%;
}
.view-id-muro .views-field-view-node .col-md-12.col-sm-12.col-xs-12{
  margin-top: 2%;
}
.navbar-nav{
  float: right;
  width: 100%;
}

a.logo.navbar-btn.pull-left {
  width: 40%;
  margin-top: 0;
}

a.logo.navbar-btn.pull-left img{
  /*margin-left: 17%;*/
}

.top-left.logo-xs{
  margin-left: 10%;
}

.top-right .navbar-collapse.collapse{
  margin-right: 1%;
}

.form-search.content-search{
  margin-left: 0;
  width: 143px;
  margin-top: 13px !important;
}

.content-search .input-group-btn{
  display: none;
}

.content-search input.form-control.form-text{
  border-radius: 17px !important;
}

.col-md-3 a.logo.navbar-btn img{
  width: 65%;
}

img.tendero-slider {
    width: 60% !important;
}

.element-invisible.element-focusable, .page-header ,.tabs--primary.nav.nav-tabs li:nth-child(3){
  display: none !important;
}

._4n06.center_fixed_width_app #pagelet_canvas_content{
	max-width: 100% !important;
}

section.col-sm-9{
	padding: 0 !important;
}

#block-block-2{
  margin: 0 auto;
  text-align: center;
}

.navbar-toggle .icon-bar{
  background-color: #000;
}

.view-muro .views-field-body p{
  text-align: justify;
}

#block-superfish-1{
  width: 100%;
  margin-left: 0%;
  height: 100px;
  padding: 0;
  background-color: #fff;
  text-align: center;
  margin-bottom: 5%;
}

#superfish-1{
  margin-left: 25%;
}

#block-superfish-1 .block-title{
  font-size: 14px;
}

#superfish-1 li{
  margin:1%;
}

#superfish-1 a.glyphicon{
  font-size: 20px;
  width: 75px;
}

#superfish-1 a.glyphicon:hover, #superfish-1 a.glyphicon:focus{
  text-decoration: none;
}

.node-advpoll .field-name-body{
  font-size: 20px;
  font-weight: 500;
  font-style: unset;
}

.node-advpoll form{
  text-align: center;
}

#block-views-user-block .user-picture img{
  margin: 0 auto;
  border: 2px solid #fff;
  max-width: 140px;
}
#block-views-user-block .views-field-name,#block-views-user-block  .views-field-rid{
  text-align: center;
}

.fb-like.fb_iframe_widget span{
  margin-top: 5px;
  padding-top: 4px;
}

.tabbable.tabs-left.vertical-tabs.clearfix.bootstrap-tabs-processed,
.filter-wrapper.form-inline.panel.panel-default.form-wrapper,
.form-item-body-und-0-value .field-edit-link{
  display: none;
}
.view-more{
  margin-top: 2%;
}

.view-more a{
  color: #fff;
}

.view-muro .views-row{
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom:10%;
  padding-top: 1%;
  margin-top: 1%;
}

.view-muro .views-row.views-row-odd{
  background-color: #f7f6f1;
}

.view-muro .views-row.views-row-even{
  background-color: #fff;
}

#edit-locale, #edit-timezone{
  display: none;
}

/*.views-field-body, .views-field-title{
  max-width: 480px;
}*/

.views-field-body .col-md-12.col-xs-12.col-sm-12{
  padding: 0px;
}

.fb-like.fb_iframe_widget{
  width: 50%;
  float: left;
  margin-top: -9px;
}

.fb-share-button.fb_iframe_widget{
  width: 16%;
  float: left;
}

.fb-comments.fb_iframe_widget iframe{
  max-width: 495px !important;
}

#block-block-4{
  margin-top: 20%;
}

#block-block-4 img{
  width: 100%;
  height: 140px;
}

#block-views-user-block{
  margin-top: -20%;
  min-height: 150px;
}

#block-entretenderos-points{
  padding: 0;
}

@media (min-width: 768px){
  .container .jumbotron, .container-fluid .jumbotron{
    padding-left: 0 !important;
  }

  .view-muro .views-row{
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom:10%;
    padding-top: 1%;
    margin-top: 1%;
  }
}

@media (max-width: 576px) {
  a.logo.navbar-btn.pull-left {
    margin-top: 18%;
    margin-left: 28%;
  }

  .view-muro .views-row{
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom:30%;
    padding-top: 1%;
    margin-top: 1%;
  }

  .region.region-content{
    padding: 2%;
  }

  #views-bootstrap-media-1 video{
    width: 100%;
    height: 200px;
  }

  .fb_iframe_widget.fb-share-button, .fb-like.fb_iframe_widget{
    float: left;
    display: inline-block;
  }

  .fb-like.fb_iframe_widget{
    width: 15%;
    margin-top: -9px;
    margin-left: 1px;
  }

  video{
    width: 100% !important;
    height: 210px !important;
  }


  .fb_iframe_widget_fluid span{
    width: 81%;
  }

  .media-body .col-xs-12{
    margin: 0;
    padding: 0;
  }

  .media-body .col-xs-12 p{
    width: 80%;
  }

  .media-left, .media > .pull-left{
    padding: 0px;
  }

  .fb_iframe_widget_fluid span{
    width: 82%;
  }

  .fb-comments.fb_iframe_widget span{
    height: 184px;
    margin-left: 0px;
    padding: 0;
    width: 80%;
    margin: 0;
  }

  .media-heading{
    width: 80% !important;
  }
}


